<%
    settings = request.registry.settings
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html lang={{ctrl.lang}} ng-app="app" ng-controller="MainController as ctrl">
  <head>
    <title ng-bind-template="{{'Bicycle Route Planner | Pro Velo Bern'|translate}}">velorouten.ch</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="${request.static_url('%s/bootstrap/dist/css/bootstrap.css' % node_modules_path)}" type="text/css">
    <link rel="stylesheet" href="${request.static_url('provelobern:static/build/build.css')}" type="text/css">
    <script src="${request.static_url('%s/jquery/dist/jquery.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular/angular.js' % node_modules_path)}"></script>
% else:
    <link rel="stylesheet" href="${request.static_url('%s/bootstrap/dist/css/bootstrap.min.css' % node_modules_path)}" type="text/css">
    <link rel="stylesheet" href="${request.static_url('provelobern:static/build/build.min.css')}" type="text/css">
    <script src="${request.static_url('%s/jquery/dist/jquery.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular/angular.min.js' % node_modules_path)}"></script>
% endif
  </head>
  <body>
    <div ng-cloak translate-cloak id="pulldown">
      <div id="pulldown-box">
        <div id="pulldown-header">
          <img src="${request.static_url('provelobern:static/img/logo-provelobern.png')}" height="60"/>
          <img src="${request.static_url('provelobern:static/img/logo-bern.png')}" height="60" />
        </div>
        <div id="pulldown-content" class="content in">
          <div class="languages">
            <a href="" ng-class="{'active-language': ctrl.lang == 'de'}" ng-click="ctrl.switchLanguage('de')">DE</a>
            <a href="" ng-class="{'active-language': ctrl.lang == 'en'}" ng-click="ctrl.switchLanguage('en')">EN</a>
          </div>
          <div class="search-fields">
            <div class="input-group">
              <span class="input-group-addon">A</span>
              <input type="text" class="form-control input-sm" placeholder="{{'From'|translate}}">
            </div>
            <div class="input-group">
              <span class="input-group-addon">B</span>
              <input type="text" class="form-control input-sm" placeholder="{{'To'|translate}}">
            </div>
            <div class="routing-type btn-group" data-toggle="buttons">
              <label class="btn btn-primary active btn-sm">
                <input type="radio" name="route-type" id="type-direct" autocomplete="off" checked> {{'Direct'|translate}}
              </label>
              <label class="btn btn-primary btn-sm">
                <input type="radio" name="route-type" id="type-optimized" autocomplete="off"> {{'Optimized'|translate}}
              </label>
              <label class="btn btn-primary btn-sm">
                <input type="radio" name="route-type" id="type-ebike" autocomplete="off"> {{'E-Bike'|translate}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <button id="menu-button" type="button" data-toggle="collapse" data-target="#pulldown-content"
          class="toggle btn btn-default">
        <span class="hidden-collapsed">
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </span>
        <span class="visible-collapsed">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </span>
      </button>
    </div>

    <div id="map" ngeo-map="ctrl.map"></div>

    <!-- Imprint -->
    <div class="modal fade" id="imprint" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            <h4 class="modal-title">{{'Imprint'|translate}}</h4>
          </div>
          <div class="modal-body">
            <p translate>
              The bicycle route planner by <a href="http://www.provelobern.ch/" target="_blank">Pro Velo Bern</a> and
              the city of <a href="http://www.bern.ch/" target="_blank">Bern</a> is based on OpenStreetMap data.
            </p>
            <p>
              &copy; <a href="http://www.provelobern.ch/" target="_blank">ProVeloBern</a>
              &copy; <a href="http://www.sosm.ch" target="_blank">osm.ch</a>
              &copy; <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors.
            </p>
          </div>
        </div>
      </div>
    </div>

% if debug:
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('provelobern:static/js/main.js')}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.js' % node_modules_path)}"></script>
% else:
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('provelobern:static/build/build.js')}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.min.js' % node_modules_path)}"></script>
% endif
    <script>
      (function() {
         var module = angular.module('app');
         module.constant('langUrlTemplate', '${request.static_url('provelobern:static/build/locale/__lang__/provelobern.json')}');
       })();
    </script>
  </body>
</html>
