<%
    settings = request.registry.settings
    node_modules_path = settings.get('node_modules_path')
    closure_library_path = settings.get('closure_library_path')
%>\
<!DOCTYPE html>
<html lang={{mainCtrl.lang}} ng-app="app" ng-controller="MainController as mainCtrl">
  <head>
    <title>Veloroutenplaner Pro Velo Bern</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
% if debug:
    <link rel="stylesheet" href="${request.static_url('%s/bootstrap/dist/css/bootstrap.css' % node_modules_path)}" type="text/css">
    <link rel="stylesheet" href="${request.static_url('provelobern:static/build/build.css')}" type="text/css">
    <script src="${request.static_url('%s/jquery/dist/jquery.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular/angular.js' % node_modules_path)}"></script>
% else:
    <link rel="stylesheet" href="${request.static_url('%s/bootstrap/dist/css/bootstrap.min.css' % node_modules_path)}" type="text/css">
    <link rel="stylesheet" href="${request.static_url('provelobern:static/build/build.min.css')}" type="text/css">
    <script src="${request.static_url('%s/jquery/dist/jquery.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/angular/angular.min.js' % node_modules_path)}"></script>
% endif
  </head>
  <body>
    <!-- <h1 translate>Hello!</h1> -->

    <div ng-cloak translate-cloak id="pulldown">
      <div id="pulldown-box">
        <div id="pulldown-header">
          <img src="${request.static_url('provelobern:static/img/logo-provelobern.png')}" height="60"/>
          <img src="${request.static_url('provelobern:static/img/logo-bern.png')}" height="60" />
        </div>
        <div id="pulldown-content" class="content in">
          <div class="languages">
            <span class="active-language">DE </span><span>EN</span>
          </div>
          <div class="search-fields">
            <div class="input-group">
              <span class="input-group-addon">A</span>
              <input type="text" class="form-control input-sm" placeholder="From">
            </div>
            <div class="input-group">
              <span class="input-group-addon">B</span>
              <input type="text" class="form-control input-sm" placeholder="To">
            </div>
            <div class="routing-type btn-group" data-toggle="buttons">
              <label class="btn btn-primary active btn-sm">
                <input type="radio" name="route-type" id="type-direct" autocomplete="off" checked> Direct
              </label>
              <label class="btn btn-primary btn-sm">
                <input type="radio" name="route-type" id="type-optimized" autocomplete="off"> Optimized
              </label>
              <label class="btn btn-primary btn-sm">
                <input type="radio" name="route-type" id="type-ebike" autocomplete="off"> E-Bike
              </label>
            </div>
          </div>
        </div>
      </div>

      <button id="menu-button" type="button" data-toggle="collapse" data-target="#pulldown-content"
          class="toggle btn btn-default">
        <span class="hidden-collapsed">
          <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </span>
        <span class="visible-collapsed">
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </span>
      </button>
    </div>

    <div id="map" ngeo-map="mainCtrl.map"></div>
% if debug:
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.js' % node_modules_path)}"></script>
    <script src="${request.static_url('%s/closure/goog/base.js' % closure_library_path)}"></script>
    <script src="${request.route_url('deps.js')}"></script>
    <script src="${request.static_url('provelobern:static/js/main.js')}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.js' % node_modules_path)}"></script>
% else:
    <script src="${request.static_url('%s/angular-gettext/dist/angular-gettext.min.js' % node_modules_path)}"></script>
    <script src="${request.static_url('provelobern:static/build/build.js')}"></script>
    <script src="${request.static_url('%s/bootstrap/dist/js/bootstrap.min.js' % node_modules_path)}"></script>
% endif
    <script>
      (function() {
         var module = angular.module('app');
         module.constant('langUrlTemplate', '${request.static_url('provelobern:static/build/locale/__lang__/provelobern.json')}');
       })();
    </script>
  </body>
</html>
